<div class="container text-center">
    <div class="jumbotron">
      <h1>Rails Girls App</h1>
      <p class="lead">
        <img src="http://railsgirls.com/images/railsgirls-sq.png" style="width: 20%;" alt="Logo"><br>
        Using tools like Rails, Ruby, Git, Nodejs & Heroku
      </p>
    </div>

    <div class="row marketing">
      <h4>Rails</h4>
      <p>
        Rails is a web application framework written in Ruby under MIT License. It is a model–view–controller (MVC) framework, providing default structures for a database, a web service, and web pages.
      </p>

      <h4>Ruby</h4>
      <p>
        A dynamic, open source programming language with a focus on simplicity and productivity. It has an elegant syntax that is natural to read and easy to write.
      </p>

    </div>
</div>